@using Beis.HelpToGrow.Web.Constants
@model IEnumerable<VendorCompanyUserViewModel>
@{
    ViewData["Title"] = "Manage Users Home";
}

@section Authentication {
    <partial name="_Authentication" />
}

<a class="govuk-back-link" href="@Url.RouteUrl(RouteNameConstants.HomeIndexGet)">
    Back
</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Manage users</h1>
        <p class="govuk-body">In this section, you can manage your user accounts for the Help to Grow: Digital portal.</p>
        <p class="govuk-body">Messages and alerts will be sent to the primary contact.</p>
        <p class="govuk-body">There are no user account limits and all users have the same level of access.</p>
        <p class="govuk-body">Once new users have been added, they will receive activation links to create their accounts. If they do not receive an activation link, select their name on the list below (or from within the 'manage users' tab) and click the 'confirm' button.</p>
        <p class="govuk-body">You can also remove user accounts from the list below by selecting 'Remove'.</p>

        @using (Html.BeginRouteForm(RouteNameConstants.ConfirmPrimaryUserChangePost, FormMethod.Post))
        {
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Primary contact</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var user in Model)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                @if (!user.PrimaryContact)
                                {
                                    @*<a class="govuk-link" href="@Url.RouteUrl(RouteNameConstants.UserGet, new { userId = user.Email }, @Context.Request.Scheme)">*@
                                    <a class="govuk-link" href="@Url.RouteUrl(RouteNameConstants.UserGet, new { userId = user.UserId }, @Context.Request.Scheme)">
                                        @user.FullName
                                    </a>
                                }
                                else
                                {
                                    <span>
                                        @user.FullName
                                    </span>
                                }
                            </th>
                            <td class="govuk-table__cell">@user.Email</td>
                            <td class="govuk-table__cell govuk-!-padding-top-1">
                                <div class="govuk-radios govuk-radios--small">
                                    <div class="govuk-radios__item">
                                        @Html.RadioButton("userId", user.UserId, user.PrimaryContact, new { id = "user-" + user.UserId, @class = "govuk-radios__input" })
                                        <label class="govuk-label govuk-radios__label" for="user-@user.UserId">&nbsp;</label>
                                    </div>
                                </div>
                            </td>
                            @if (!user.PrimaryContact)
                            {
                                <td class="govuk-table__cell">
                                @*<a class="govuk-link" href="@Url.RouteUrl(RouteNameConstants.RemoveUserGet, new { userId = user.Email }, @Context.Request.Scheme)">*@
                                    <a class="govuk-link" href="@Url.RouteUrl(RouteNameConstants.RemoveUserGet, new { userId = user.UserId }, @Context.Request.Scheme)">
                                        Remove
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td class="govuk-table__cell"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            @*<a class="btn btn-primary govuk-button govuk-button--secondary" href="@Url.RouteUrl(RouteNameConstants.UserGet, new { userId = string.Empty }, @Context.Request.Scheme)">*@
            <a class="btn btn-primary govuk-button govuk-button--secondary" href="@Url.RouteUrl(RouteNameConstants.UserGet, new { userId = 0 }, @Context.Request.Scheme)">
                Add user
            </a>

            <div class="form">
                <input type="submit" value="Confirm" class="btn btn-primary govuk-button" />
            </div>
        }
    </div>
</div>