@model Beis.VendorManagement.Web.Models.Pricing.AdditionalCostsViewModel;
@{
    ViewData["Title"] = "Additional costs";
}

@section BackNavigation {
    <partial name="_BackToPricingHome" model="(Model.ProductId, Model.ProductPriceId)"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">@Model.ProductName</span>
        <h1 class="govuk-heading-l">Additional costs</h1>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Are there additional costs?</th>
                    <td class="govuk-table__cell">
                        @if (Model.AdditionalCosts.ToList().Count > 0)
                        {
                            @Html.Raw("Yes")
                        }
                        else
                        {
                            @Html.Raw("No")
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Type of cost</th>
                    <th scope="col" class="govuk-table__header">Cost and frequency</th>
                    <th scope="col" class="govuk-table__header">Optional or mandatory</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.AdditionalCosts.ToList().Count == 0)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="">
                            @Html.Raw("No data available")
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.AdditionalCosts)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@item.Type</td>
                            <td class="govuk-table__cell">@item.CostAndFrequency</td>
                            <td class="govuk-table__cell">
                                @if (item.IsMandatory)
                                {
                                    @Html.Raw("Mandatory")
                                }
                                else
                                {
                                    @Html.Raw("Optional")
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>