@using Beis.VendorManagement.Web.Constants
@model Beis.VendorManagement.Web.Models.Pricing.PricingHomeViewModel;
@{
    ViewData["Title"] = "Product pricing list";
}

@section BackNavigation {
    <div class="govuk-clearfix">
        <a class="govuk-back-link" href="@Url.RouteUrl(RouteNameConstants.ProductPricingGet, new { id = Model.ProductId }, @Context.Request.Scheme)">
            Back
        </a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">@Model.ProductName</span>
        <h1 class="govuk-heading-l">Pricing breakdown</h1>

        <p>
            <a class="govuk-link" asp-route="@RouteNameConstants.PricingMetricGet" asp-route-id="@Model.ProductId" asp-route-productPriceId="@Model.ProductPriceId">
                Product price metric and description
            </a>
        </p>
        <p>
            <a class="govuk-link" asp-route="@RouteNameConstants.PricingMinimumCommitmentGet" asp-route-id="@Model.ProductId" asp-route-productPriceId="@Model.ProductPriceId">
                Minimum commitment
            </a>
        </p>
        <p>
            <a class="govuk-link" asp-route="@RouteNameConstants.PricingFreeTrialGet" asp-route-id="@Model.ProductId" asp-route-productPriceId="@Model.ProductPriceId">
                Free trial
            </a>
        </p>
        <p>
            <a class="govuk-link" asp-route="@RouteNameConstants.PricingDiscountPeriodGet" asp-route-id="@Model.ProductId" asp-route-productPriceId="@Model.ProductPriceId">
                Discount period
            </a>
        </p>
        <p>
            <a class="govuk-link" asp-route="@RouteNameConstants.PricingAdditionalDiscountsGet" asp-route-id="@Model.ProductId" asp-route-productPriceId="@Model.ProductPriceId">
                Additional discounts
            </a>
        </p>
        <p>
            <a class="govuk-link" asp-route="@RouteNameConstants.PricingAdditionalCostsGet" asp-route-id="@Model.ProductId" asp-route-productPriceId="@Model.ProductPriceId">
                Additional costs
            </a>
        </p>
    </div>
</div>