@model Beis.VendorManagement.Web.Models.Pricing.MetricDetailsViewModel;
@{
    ViewData["Title"] = "Product price metric and description";
}

@section BackNavigation {
    <partial name="_BackToPricingHome" model="(Model.ProductId, Model.ProductPriceId)"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">@Model.ProductName</span>
        <h1 class="govuk-heading-l">Product price metric and description</h1>
        <h2 class="govuk-heading-m">Primary metric and description</h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">How customers pay</th>
                    <th scope="col" class="govuk-table__header">Amount in £</th>
                    <th scope="col" class="govuk-table__header">Amount in %</th>
                    <th scope="col" class="govuk-table__header">Users</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var item in Model.PrimaryMetricDetails)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@item.Description</td>
                        <td class="govuk-table__cell">@item.Amount</td>
                        <td class="govuk-table__cell">@item.PricePercentage</td>
                        <td class="govuk-table__cell">@item.NumberOfUsers</td>
                    </tr>
                }
            </tbody>
        </table>

        <h2 class="govuk-heading-m">Secondary metric and description</h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Components included in price</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var item in Model.SecondaryMetricDetails)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@item.Description</td>
                        <td class="govuk-table__cell">@item.MetricNumber</td>
                        <td class="govuk-table__cell">@item.MetricUnit</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>