@using Beis.HelpToGrow.Web.Constants
<ul class="govuk-list">
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.VendorPortalActivationGet)" class="govuk-link">Vendor portal activation</a></li>
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.ProductInformationGet)" class="govuk-link">Software product information</a></li>
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.PricingGet)" class="govuk-link">Pricing</a></li>
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.ProductComparisonToolGet)" class="govuk-link">Product comparison tool</a></li>
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.TechnicalSolutionsGet)" class="govuk-link">Technical solutions</a></li>
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.ConfiguringYourApiGet)" class="govuk-link">Configuring your API</a></li>
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.ApiStandardsGet)" class="govuk-link">API standards</a></li>
    <li class="govuk-!-margin-bottom-3"><a href="@Url.RouteUrl(RouteNameConstants.ContactUsGet)" class="govuk-link">Contact</a></li>
</ul>
