@using Beis.VendorManagement.Web.Constants
@model Beis.VendorManagement.Web.Models.UserViewModel
@{
    ViewData["Title"] = "Confirm new primary user?";
}

@section BackNavigation {
    <div class="govuk-clearfix">
        <a class="govuk-back-link" href="@Url.RouteUrl(RouteNameConstants.ManageUsersHomeGet, default, @Context.Request.Scheme)">
            Back
        </a>
    </div>
}

@using (Html.BeginRouteForm(RouteNameConstants.PrimaryUserChangePost, new { userId = Model.UserId, hasToBePrimaryContact = Model.HasToBePrimaryContact }, FormMethod.Post))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Confirm new primary contact
                        </h1>
                    </legend>
                    <p class="govuk-body">@Model.FullName will get all messages and alerts from Help to Grow: Digital.</p>
                    <p class="govuk-body">Select Yes only if you are certain that they are willing to take on this role.</p>
                    <div class="govuk-radios">
                        @if (Model.ShowErrorMessage)
                        {
                            <span id="name-of-error-error" class="govuk-error-message">
                                Error: Please make a selection
                            </span>
                        }
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(model => model.HasToBePrimaryContact, "true", new { id = "yes", @class = "govuk-radios__input" })
                            @Html.Label("yes", "Yes", new { @class = "govuk-label govuk-radios__label" })
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(model => model.HasToBePrimaryContact, "false", new { id = "no", @class = "govuk-radios__input" })
                            @Html.Label("no", "No", new { @class = "govuk-label govuk-radios__label" })
                        </div>
                    </div>

                </fieldset>
            </div>
            <input class="govuk-button" type="submit" value="Confirm" />
        </div>
    </div>
}