@using Beis.VendorManagement.Web.Constants
@using Beis.VendorManagement.Web.Models.Enums
@model Beis.VendorManagement.Web.Models.SummaryViewModel
@{
    ViewData["Title"] = "Product summary";
}

@section Authentication {
    <partial name="_Authentication" />
}

<a class="govuk-back-link" href="@Url.RouteUrl(RouteNameConstants.SoftwareHomeGet, new { id = Model.ProductId }, @Context.Request.Scheme)">
    Back
</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            @Html.HiddenFor(Model => Model.ProductId)
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            Product summary
                            <span class="govuk-caption-l">@Model.ProductName</span>
                            @Html.HiddenFor(Model => Model.ProductName)
                        </h1>
                    </legend>
                    <p class="govuk-body">Use this summary to describe:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>what your product does and who it's aimed at</li>
                        <li>key business benefits – why should a business consider it?</li>
                        <li>what makes it stand out from the crowd</li>
                        <li>don't add a list of specific product features: you can do this in the next screen.</li>
                    </ul>
                    <p class="govuk-body">Keep your summary factual and objective, and do not make any claims that you can't back up. </p>

                    <div class="govuk-character-count @(Model.ProductStatus == ProductStatus.InReview  ? "disabled" : string.Empty)" data-module="govuk-character-count" data-maxlength="5000">
                        <div class="@String.Format("govuk-form-group {0}", !ViewData.ModelState.IsValid ? "govuk-form-group--error" : string.Empty)">
                            <span id="name-of-error-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @Html.ValidationMessageFor(model => model.DraftProductDescription)
                            </span>
                            <div class="govuk-form-group">
                                <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-three-quarters" asp-for="DraftProductDescription" maxlength="5000" rows="10"></textarea>
                            </div>
                            <div id="DraftProductDescription-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to 5000 characters
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button @(Model.ProductStatus == ProductStatus.InReview  ? "disabled" : string.Empty)" data-module="govuk-button">Save and return</button>
            @Html.HiddenFor(Model => Model.ProductStatus)
        </form>
    </div>
</div>