@using Beis.VendorManagement.Web.Models.Enums
@model Beis.VendorManagement.Web.Models.ProductCapabilitiesViewModel;
@{
    ViewData["Title"] = "Product capabilities";
}

@section BackNavigation {
    <partial name="_BackToSoftwareHome" model="Model.ProductId" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            @Html.HiddenFor(Model => Model.ProductTypeId)
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            Product capabilities
                            <span class="govuk-caption-l">@Model.ProductName</span>
                        </h1>
                    </legend>
                    <p class="govuk-body">This is based on the information you provided when you applied to be a vendor. You can check and uncheck boxes if you need to.</p>
                    <p class="govuk-body">These are additional to the minimum product capabilities that allowed your product to be accepted onto Help to Grow: Digital.</p>

                    <span class="govuk-label">
                        Additional capabilities of your product
                    </span>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">

                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <input type="hidden" asp-for="@Model.ProductId" />
                                    @for (int i = 0; i < Model.SettingsProductCapabilitiesList.Count; i++)
                                    {
                                        @Html.Raw("<div class='govuk-form-group'><div class='govuk-checkboxes' data-module='govuk-checkboxes'><div class='govuk-checkboxes__item'>")
                                        <input type="hidden" asp-for="@Model.SettingsProductCapabilitiesList[i].Value" />
                                        <input asp-for="@Model.SettingsProductCapabilitiesList[i].Selected"
                                               name="SettingsProductCapabilitiesList[@i].Selected"
                                           id="Capability-@i"
                                               class="govuk-checkboxes__input @(Model.Status == ProductStatus.InReview  ? "disabled" : "")" />
                                    <label class="formgovuk-label govuk-checkboxes__label" for="Capability-@i">
                                            @Model.SettingsProductCapabilitiesList[i].Text
                                        </label>
                                        @Html.Raw("</div></div></div>")
                                    }
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="govuk-character-count @(Model.Status == ProductStatus.InReview  ? "disabled" : string.Empty)" data-module="govuk-character-count" data-maxlength="500">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="@nameof(Model.DraftAdditionalCapabilities)">Additional product capabilities</label>
                            <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-three-quarters" asp-for="DraftAdditionalCapabilities" maxlength="500" rows="10"></textarea>
                        </div>

                        <div id="DraftAdditionalCapabilities-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 500 characters
                        </div>
                    </div>

                </fieldset>
            </div>
            <button class="govuk-button @(Model.Status == ProductStatus.InReview  ? "disabled" : string.Empty)" data-module="govuk-button">Save and return</button>
        </form>
    </div>
</div>